.ej-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 33px;
  padding: 80px 0;
  background: linear-gradient(
    180deg,
    rgba(249, 243, 255, 0.81) 0%,
    rgba(254, 231, 236, 0.37) 100%
  );
  background-image: url("../../../Assests/coursepackstars.png");
  background-size: cover;
  background-position: center;
}

.ej-text {
  width: 60%;
  color: #505050;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ej-text-col {
  color: #6329c2;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ej-card {
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 4px 23.5px 0px rgba(117, 48, 228, 0.22);
  height: auto;
  width: 60%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.ej-card-head {
  border-radius: 17px;
  background: #fee8ed;
  display: flex;
  width: 354px;
  height: 65px;
  padding: 17px 4px 14px 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  color: #7530e4;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  box-sizing: border-box;
}

.ej-card-head-col {
  color: #340078;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.ej-card-mid {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ej-card-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.ej-card-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.ej-card-price {
  border-radius: 30px;
  border: 1px solid #7530e4;
  background: #fff;
  display: inline-flex;
  height: 65px;
  padding: 18px 24px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  box-sizing: border-box;
  color: #263238;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 56.25% */

  align-self: center;
}

.ej-card-ch {
  background: linear-gradient(180deg, #601fb5 0%, #7e4fbb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 113.636% */
}

.ej-card-ct {
  color: #838383;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.ej-card-list {
  display: flex;
  align-items: center;
  gap: 14px;
}
.ej-card-list span {
  color: #474747;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
}

.ej-card-cta {
  border-radius: 12px;
  background: linear-gradient(180deg, #7d3ee4 0%, #9260e3 100%);
  display: flex;
  width: 267px;
  height: 54px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  box-sizing: border-box;

  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.ej-ups-cont {
  display: none;
}
@media screen and (max-width: 786px) {
  .ej-card {
    display: none;
  }
  .ej-text {
    font-size: 24px;
    width: 90%;
  }
  .ej-text-col {
    font-size: 24px;
  }
  .ej-cont {
    gap: 20px;
  }
  .ej-ups-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
}
