.jumbotron {
  background-color: #bcb3fc;

  width: 90%;

  margin: auto;

  border-radius: 10px;

  font-size: bold;
  padding: 4rem 2rem;
}

.lead {
  font-weight: 600;
}

.display-3 {
  background-color: #9258f5;
  font-weight: 300;
  line-height: 1.2;
  border-radius: 6px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.lead {
  font-weight: 600;
  font-size: 1.25rem;
}
.text-white {
  color: #fff !important;
}
.btn {
  background-color: #9258f5;

  border: none;

  color: white;

  padding: 15px 32px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 16px;

  border-radius: 6px;
}

.payment {
  color: #63329c;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  margin-top: 0;
}

.img-responsive {
  height: 80px;
}
.text-center {
  text-align: center;
}
