.cp-cont {
  width: 100vw;
  padding: 72px 0 95px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cp-inner-cont {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.cp-text {
  color: rgba(38, 50, 56, 0.7);
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 688px;
}

.cp-cards-cont {
  display: flex;
  width: 100%;
  height: 516px;
  /* justify-content: flex-end; */
  align-items: flex-start;
  gap: 24px;
  box-sizing: border-box;
}
.cp-card1 {
  border-radius: 28px;
  border: 1px solid rgba(62, 72, 77, 0.27);
  background: linear-gradient(
    180deg,
    rgba(250, 250, 250, 0.25) 0%,
    rgba(253, 221, 252, 0.18) 100%
  );

  display: flex;
  width: 40%;
  padding: 24px 24px 24px 29px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  align-self: stretch;
  box-sizing: border-box;
}
.cp-card1-top {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  width: 100%;
  justify-content: space-between;
}

.cp-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  color: #340078;
  font-family: Poppins;
  font-size: clamp(20px, 1.8vw, 28px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.84px;
  text-transform: capitalize;
}

.cp-card-text {
  color: #7530e4;
  font-family: "DM Sans";
  font-size: clamp(18px, 1.6vw, 24px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.cp-bs {
  border-radius: 100px;
  background: rgba(227, 101, 230, 0.12);
  display: flex;
  width: 114px;
  height: 44px;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  color: #d95ad9;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 141.667%; /* 22.667px */
}
.cp-divider {
  width: 100%;
  height: 1px;
  border-top: 1px dashed #a45fff;
}
.cp-price {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.cp-prc {
  background: linear-gradient(180deg, #340078 0%, rgba(82, 0, 188, 0.94) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DM Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.cp-strike {
  color: rgba(52, 0, 120, 0.2);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
  text-transform: capitalize;
}

.cp-checklist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.cp-chk {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #455a64;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.cp-km {
  border-radius: 100px;
  border: 1px solid #7530e4;
  background: #7530e4;
  box-shadow: 0px 4px 13px 0px rgba(117, 48, 228, 0.11);

  display: flex;
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #fff;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.cp-card2 {
  border-radius: 28px;
  border: 1px solid #d5b5ff;
  background: linear-gradient(
    180deg,
    rgba(242, 232, 255, 0.62) 0%,
    rgba(255, 243, 239, 0.92) 100%
  );

  display: flex;
  width: 55%;
  padding: 24px 24px 24px 29px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  align-self: stretch;
  box-sizing: border-box;
}
.cp-mp {
  border-radius: 100px;
  border: 2px solid #fff;
  background: rgba(192, 253, 195, 0.69);
  display: flex;
  width: 167px;
  height: 52px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #49974e;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 141.667%; /* 25.5px */
}

@media screen and (max-width: 1200px) {
  .cp-inner-cont {
    width: 95%;
  }
}
@media screen and (max-width: 1000px) {
  .cp-cards-cont {
    height: auto;
    flex-direction: column;
    max-width: 700px;
  }
  .cp-card1,
  .cp-card2 {
    width: 100%;
  }
  .cp-text {
    width: 90%;
  }
  .cp-mp,
  .cp-bs {
    width: fit-content;
    padding: 12px;
    height: auto;
    font-size: 18px;
    text-align: center;
  }
  .cp-chk {
    font-size: 20px;
  }
  .cp-cont {
    padding: 20px 0;
  }
}
@media screen and (max-width: 600px) {
  .cp-cards-cont {
    height: auto;
    flex-direction: column;
  }
  .cp-card1,
  .cp-card2 {
    width: 100%;
  }
  .cp-text {
    width: 90%;
  }
  .cp-mp,
  .cp-bs {
    width: fit-content;
    padding: 12px;
    height: auto;
    font-size: 14px;
    text-align: center;
  }
  .cp-chk {
    font-size: 16px;
  }
  .cp-cont {
    padding: 20px 0;
  }
}
