.home-hero-cont {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.google-review {
  display: none;
}

.home-hero-banner {
  display: flex;
  width: 100%;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  background: #ffe694;

  color: #340078;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.home-hero-main-cont {
  width: 100%;
  min-height: 619px;
  flex-shrink: 0;
  background: linear-gradient(
    90deg,
    #f9f0ff 0.12%,
    rgba(245, 255, 239, 0.74) 54.45%,
    rgba(255, 243, 228, 0.66) 91.62%
  );
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.home-hero-main-top {
  min-height: 616px;
  width: 90%;
  display: flex;
}

.home-hero-left,
.home-hero-right {
  width: 50%;
}

.home-hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-hero-right img {
  width: 80%;
}
.home-hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.home-hero-iit {
  display: flex;
  width: 275px;
  height: 56px;
  padding: 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1.5px solid #965ce2;
  background: rgba(255, 255, 255, 0.69);
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    #4d0ed3 -10.18%,
    rgba(190, 63, 234, 0.83) 94.66%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-hero-head {
  width: 90%;
  color: #4b4b4b;
  font-family: Poppins;
  font-size: clamp(34px, 3vw, 45px);
  font-style: normal;
  font-weight: 600;
  line-height: 68px;
  text-transform: capitalize;
}
.home-hero-head-col {
  color: #641ebf;
  margin: 0;
  display: inline;
  position: relative;
  padding: 0 70px 0 0;
}

.home-hero-levelup {
  position: absolute;
}

.home-hero-free {
  display: inline-flex;
  width: 147.158px;
  height: 72.879px;
  transform: rotate(-6.061deg);
  padding: 3px 13px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 11px;
  background: linear-gradient(175deg, #e6d2fd -5.64%, #ffe2f8 96.11%);
  box-sizing: border-box;
}

.home-hero-text {
  color: #7e7e7e;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  width: 85%;
}

.home-hero-cta-cont {
  display: flex;
  gap: 34px;
  /* justify-content: center; */
  align-items: center;
  padding: 16px 0 0 0;
}

.home-hero-cta {
  display: flex;
  width: 280px;
  height: 71px;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 14px;
  background: linear-gradient(90deg, #7531e4 0.11%, #9b63f7 123.35%);

  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  text-transform: capitalize;
}

.home-hero-cta-vid {
  color: #3e008d;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  display: inline-flex;
  padding: 0px 2px 2px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home-hero-main-btm {
  border: 1px solid #decaff;
  background: linear-gradient(
    180deg,
    rgba(241, 233, 255, 0.8) 0%,
    #faf7ff 100%
  );
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-hero-card {
  display: flex;
  gap: 11px;
  align-items: center;
  width: 20%;
  border-right: 3px solid rgba(107, 25, 214, 0.21);
  justify-content: center;
  min-width: 190px;
}

.home-hero-card-det {
  display: flex;
  flex-direction: column;
  color: #722acf;
  font-family: Poppins;
  font-size: clamp(32px, 2vw, 40px);
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.home-hero-card-det > span {
  color: #898989;
  font-family: DM Sans;
  font-size: clamp(16px, 1.7vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@media screen and (max-width: 1200px) {
  .home-hero-main-top,
  .home-hero-main-cont {
    min-height: 516px;
  }

  .home-hero-head {
    font-size: clamp(28px, 2vw, 34px);
    line-height: 50px;
  }
  .home-hero-free {
    height: 50px;
    padding: 0 24px;
    width: fit-content;
  }
  .home-hero-text {
    font-size: clamp(18px, 1.6vw, 24px);
  }
  .home-hero-cta-vid {
    font-size: clamp(14px, 1vw, 18px);
  }
  .home-hero-card-det {
    font-size: clamp(28px, 1.5vw, 38px);
  }
  .home-hero-card-det > span {
    font-size: clamp(16px, 1.5vw, 20px);
  }
  .home-hero-card > img {
    width: 40px;
  }
}



@media screen and (max-width: 1000px) {
  .home-hero-main-cont,
  .home-hero-main-top {
    min-height: 0;
    
  }
  .home-hero-cont {
    padding: 20px 0;
  }
  .home-hero-banner {
    text-align: center;
  }

  .home-hero-main-top {
    flex-direction: column;
    padding: 30px 0;
  }

  .home-hero-left,
  .home-hero-right {
    width: 100%;
  }

  .home-hero-right {
    display: none;
  }

  .home-hero-head {
    width: 100%;
    color: #4b4b4b;
    font-family: Poppins;
    font-size: 45px;

    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 585px;
  }
  .home-hero-head-col {
    color: #641ebf;
    margin: 0;
    display: inline;
    position: relative;
    padding: 0 40px 0 0;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .home-hero-levelup {
    position: absolute;
    height: 31px;
  }

  .home-hero-free {
    display: inline-flex;
    width: fit-content;
    height: 60px;
    transform: rotate(-2.055deg);
    padding: 3px 13px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  .home-hero-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 85%;
  }

  .home-hero-cta-cont {
    display: flex;
    gap: 22px;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .home-hero-main-btm {
    border: none;
    background: transparent;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0 0 0;
    align-self: center;
  }

  .home-hero-card {
    display: flex;
    gap: 11px;
    align-items: center;
    width: 48%;
    border-radius: 11px;
    border: 1px solid #decaff !important;
    background: linear-gradient(
      180deg,
      rgba(241, 233, 255, 0.8) 0%,
      #faf7ff 100%
    );
    justify-content: center;
    min-width: 0;
    align-self: center;
    padding: 15px;
  }

  .home-hero-card-det {
    display: flex;
    flex-direction: column;
    color: #722acf;
    font-family: Poppins;
    font-size: clamp(32px, 2vw, 40px);
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
  .home-hero-card-det > span {
    color: #898989;
    font-family: DM Sans;
    font-size: clamp(16px, 1.7vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  .google-review{
    display: flex;
    width: 45%;
    box-shadow: -4px 4px 36px -10px rgba(69, 90, 100, 0.10);
  }
}
@media screen and (max-width: 600px) {
  .home-hero-main-cont,
  .home-hero-main-top {
    min-height: 0;
  }
  .home-hero-cont {
    padding: 20px 0;
  }
  .home-hero-banner {
    text-align: center;
  }

  .home-hero-main-top {
    flex-direction: column;
    padding: 30px 0;
  }

  .home-hero-left,
  .home-hero-right {
    width: 100%;
  }

  .home-hero-right {
    display: none;
  }

  .home-hero-head {
    width: 100%;
    color: #4b4b4b;
    font-family: Poppins;
    font-size: clamp(22px, 2vw, 26px);

    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .home-hero-head-col {
    color: #641ebf;
    margin: 0;
    display: inline;
    position: relative;
    padding: 0 40px 0 0;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .home-hero-levelup {
    position: absolute;
    height: 31px;
  }

  .home-hero-free {
    display: inline-flex;
    width: 94.671px;
    height: 37.88px;
    transform: rotate(-2.055deg);
    padding: 3px 13px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  .home-hero-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 85%;
  }

  .home-hero-cta-cont {
    display: flex;
    gap: 22px;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .home-hero-main-btm {
    border: none;
    background: transparent;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0 0 0;
    align-self: center;
  }

  .home-hero-card {
    display: flex;
    gap: 11px;
    align-items: center;
    width: 48%;
    border-radius: 11px;
    border: 1px solid #decaff !important;
    background: linear-gradient(
      180deg,
      rgba(241, 233, 255, 0.8) 0%,
      #faf7ff 100%
    );
    justify-content: center;
    min-width: 0;
    align-self: center;
    padding: 15px;
  }

  .home-hero-card-det {
    display: flex;
    flex-direction: column;
    color: #722acf;
    font-family: Poppins;
    font-size: clamp(32px, 2vw, 40px);
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
  .home-hero-card-det > span {
    color: #898989;
    font-family: DM Sans;
    font-size: clamp(16px, 1.7vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  .google-review{
    display: flex;
    width: 85%;
    box-shadow: -4px 4px 36px -10px rgba(69, 90, 100, 0.10);
  }
}
