.discaa-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 80px 0;
  flex-direction: column;
  gap: 50px;
}

.discaa-inner-cont {
  border-radius: 44px;
  border: 1px solid #d3d3d3;
  background: rgba(217, 217, 217, 0);
  box-shadow: 0px 4px 43.6px 0px #7530e4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  padding: 40px;
  box-sizing: border-box;
  gap: 20px;
  justify-items: center;
}

.discaa-card {
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  border: 0.836px solid var(--tutedude-color-primary-20, #e9d3e9);
  background: linear-gradient(180deg, #ffedff 0%, #f9f1fd 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.discaa-card1-btm {
  background: #fff;
  display: flex;
  box-sizing: border-box;
  height: 47px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8.364px;
  flex-shrink: 0;

  color: #9a2db8;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.discaa-card1-top {
  height: 161px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.discaa-card1-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9a2db8;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.discaa-card1-head span {
  text-align: center;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}

.discaa-card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #cdcdcd;
  background: #fff;
  max-width: 300px;
  width: 100%;
}

.discaa-card2-top {
  height: 161px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.discaa-card2-head span {
  background: linear-gradient(180deg, #501799 0%, #6326b2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: clamp(44px, 4vw, 60px);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.discaa-card2-head b {
  color: var(--tutedude-color-neutral-2050, #9ba4ab);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
}
.discaa-card2-head {
  color: #7530e4;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.discaa-card2-btm {
  border-radius: 0px 0px 15px 11.8px;
  border-top: 1px solid rgba(107, 184, 112, 0.57);
  background: #f1f8f1;
  height: 47px;
  box-sizing: border-box;
  color: #6bb870;
  font-family: Poppins;
  font-size: clamp(12px, 1.4vw, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 165%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discaa-card3 {
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #ffd0d0;
  background: #fff7f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.discaa-card-btm {
  background: linear-gradient(180deg, #6226b1 0%, #6f2fc1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 90%;
  font-family: Poppins;
  font-size: clamp(22px, 1.9vw, 34px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.discaa-card-mid {
  color: #555;
  width: 90%;
  font-family: Poppins;
  font-size: 21.161px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.discaa-card-img {
  width: 90%;
}

@media screen and (max-width: 1200px) {
  .discaa-inner-cont {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .discaa-inner-cont {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .discaa-card {
    width: 100%;
  }
  .discaa-card3 {
    height: 210px;
  }
}
@media screen and (max-width: 700px) {
  .discaa-inner-cont {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
